{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h2>Welcome, {{ user.username }}</h2>
</div>
    <p>Your user info!</p>
<p>{{ user.profile.email }}</p>
<p> {{ user.profile.first_name }} {{ user.profile.last_name }}</p>
<p> {{user.profile.phone_number}} Ssn: {{user.profile.ssn}}</p>
<p> {{user.profile.address1}} {{user.profile.address2}}</p>
<p> {{user.profile.city}} {{user.profile.state}} {{user.profile.zip_code}}</p>
    <p><a href="{% url 'edit_profile' %}">Edit</a></p>
{% endblock %}
