{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class='jumbotron'>Welcome, {{ user.username }}!</div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12" id="basic-info">
        <p>Basic Information!</p>
        <p>{{ user.profile.email }}</p>
        <p> {{ user.profile.first_name }} {{ user.profile.last_name }}</p>
        <p> {{user.profile.phone_number}} Ssn: {{user.profile.ssn}}</p>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12" id="address">
        <p> {{user.profile.address1}} {{user.profile.address2}}</p>
        <p> {{user.profile.city}} {{user.profile.state}} {{user.profile.zip_code}}</p>
    </div>
</div>

    <p><a href="{% url 'edit_profile' %}">Edit</a></p>
{% endblock %}
