{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
    <div class='jumbotron'>Welcome, {{ user.username }}!
        <div class='col-lg-12 col-md-12 col-xs-12'>
            <button class="btn btn-default" id="user">
                <span class="glyphicon glyphicon-user">
            </button>
            <button class="btn btn-default" id="home">
                <span class="glyphicon glyphicon-home">
            </button>
            <button class="btn btn-default" id="contact">
                <span class="glyphicon glyphicon-earphone">
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12" id="basic-info">
            <p>Basic Information:</p>
            <p>{{ user.profile.first_name }} {{ user.profile.last_name }}</p>
            <p>Ssn: {{user.profile.ssn}}</p>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-12" id="address">
            <p>Address:</p>
            <p> {{user.profile.address1}} {{user.profile.address2}}</p>
            <p> {{user.profile.city}} {{user.profile.state}} {{user.profile.zip_code}}</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12" id="contact1">
            <p>Contact Information</p>
            <p>{{user.profile.email}}</p>
            <p>{{user.profile.phone_number}}</p>
    </div>

    <p><a href="{% url 'edit_profile' %}">Edit</a></p>
    <script>
    $(document).ready(function () {
        var basic = $('#basic-info'),
            address = $('#address'),
            contact1 = $('#contact1'),
            user = $('#user'),
            home = $('#home'),
            contact = $('#contact');

        basic.hide();
        address.hide();
        contact1.hide();

        user.on('click', function() {
            address.hide();
            contact1.hide();
            basic.show();
        }),
        home.on('click', function() {
            basic.hide();
            contact1.hide();
            address.show();
        }),
        contact.on('click', function() {
            basic.hide();
            address.hide();
            contact1.show();
        });
    });
    </script>
{% endblock %}
